.edit-post-visual-editor .editor-block-list__block, .edit-post-visual-editor .editor-block-list__block p, .editor-default-block-appender textarea.editor-default-block-appender__content {font-size: 16px;}
.editor-default-block-appender textarea.editor-default-block-appender__content {font-family: Georgia,"Bitstream Charter",serif;}
.edit-post-visual-editor .editor-block-list__block .mce-content-body, .wp-block-freeform.block-library-rich-text__tinymce p, .wp-block-freeform.block-library-rich-text__tinymce li {line-height: 1.5;}
.edit-post-visual-editor .editor-block-list__block {color: #1a1a1a;}
.editor-post-title__block .editor-post-title__input {color: #000;font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;font-size: 21px;font-weight: bold;line-height: 1.3em;}
.edit-post-visual-editor .editor-block-list__block h1 {font-size: 32px;}
.edit-post-visual-editor .editor-block-list__block h2 {font-size: 24px;}
.edit-post-visual-editor .editor-block-list__block h3 {font-size: 19px;}
.edit-post-visual-editor .editor-block-list__block h4 {font-size: 16px;}
.edit-post-visual-editor .editor-block-list__block h5 {font-size: 13px;}
.edit-post-visual-editor .editor-block-list__block h6 {font-size: 11px;}
.wp-block {max-width: 670px;}
.edit-post-visual-editor a, .editor-block-list__block a, .wp-block-freeform.block-library-rich-text__tinymce a {color: #06c;}
.edit-post-visual-editor ul:not(.wp-block-gallery), .editor-block-list__block ul:not(.wp-block-gallery), .block-library-list ul, .edit-post-visual-editor ol, .editor-block-list__block ol, .block-library-list ol.editor-rich-text__tinymce {margin: 0 0 18px 1.5em;padding: 0;}
.edit-post-visual-editor ul:not(.wp-block-gallery), .editor-block-list__block ul:not(.wp-block-gallery), .block-library-list ul {list-style: square;}
.edit-post-visual-editor ol, .editor-block-list__block ol, .block-library-list ol {list-style: decimal;margin-left: 1.5em;}
.edit-post-visual-editor ul:not(.wp-block-gallery) li, .editor-block-list__block ul:not(.wp-block-gallery) li, .edit-post-visual-editor ol li, .editor-block-list__block ol li, .block-library-list li {margin-bottom: 0;}
.edit-post-visual-editor ul:not(.wp-block-gallery) li > ul, .editor-block-list__block ul:not(.wp-block-gallery) li > ul, .block-library-list li > ul, .edit-post-visual-editor li > ol, .editor-block-list__block li > ol, .block-library-list li > ol {margin-bottom: 0;}
.rtl .edit-post-visual-editor ul:not(.wp-block-gallery), .rtl .editor-block-list__block ul:not(.wp-block-gallery), .rtl .block-library-list ul, .rtl .edit-post-visual-editor ol, .rtl .editor-block-list__block ol, .rtl .block-library-list ol {margin-left: 0;margin-right: 1.25em;padding: 0;}
[class^="wp-block-"] figcaption {color: #777;font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;}
.wp-block-freeform.block-library-rich-text__tinymce code {background: transparent;}
.wp-block-freeform.block-library-rich-text__tinymce blockquote {border: 0;padding: 0 3em;}
.editor-block-list__block tr th, .editor-block-list__block tr th a {font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;}
.editor-block-list__block dd {margin-left: 0;margin-right: 0;}
p.has-drop-cap:not(:focus)::first-letter {font-size: 5em;margin-top: .1em;}
.wp-block-image {margin-bottom: 20px;}
.wp-block-image figcaption {display: block;margin: -7px 0 0;padding: 9px 9px 1em;text-align: center;}
.editor-block-list__block .wp-block-gallery {margin: 0 0 24px;}
.wp-block-quote {border: 0;padding: 0 3em;}
.wp-block-quote:not(.is-large):not(.is-style-large) {border: 0;padding: 0 3em;}
.wp-block-quote .wp-block-quote__citation {font-size: 16px;font-weight: 600;}
.wp-block-quote.is-large .wp-block-quote__citation, .wp-block-quote.is-style-large .wp-block-quote__citation {font-size: 18px;}
.wp-block-cover-image-text, .wp-block-cover-text {font-size: 32px;}
.wp-block-file .wp-block-file__textlink .editor-rich-text__tinymce {color: #06c;font-size: 16px;text-decoration: underline;}
.wp-block-code {border: 0;padding: 0;}
.wp-block-pullquote blockquote > .editor-rich-text p {font-size: 1.5em;}
.wp-block-pullquote .wp-block-pullquote__citation {color: inherit;font-size: inherit;font-weight: 600;text-transform: none;}
.wp-block-table tr:nth-child(odd) td {background: #f2f7fc;}
.wp-block-table th .wp-block-table__cell-content {color: #777;font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;}
.editor-block-list__block .wp-block-table tr td {padding-bottom: 0;padding-top: 0;}
.editor-block-list__block .wp-block-latest-comments {margin: 0 0 24px;}
.rtl .edit-post-visual-editor .wp-block-latest-comments {margin-right: 0;}
.edit-post-visual-editor .editor-block-list__block .wp-block-latest-posts.is-grid {list-style: none;margin-left: 0;margin-right: 0;}
.edit-post-visual-editor .wp-block-latest-posts.is-grid li {margin-bottom: 1em;}